# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Sanal ortam
.venv/
venv/
env/

# PyInstaller çıktıları
build/
dist/
*.spec.bak

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Geçici dosyalar
*.tmp
*.log
